.third_section {
    height: 100%;
    width: 100%;
    background-color: #FCE9E2;
    display: flex;
    /* justify-content: space-around; */

}

.inputstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 350px;

    border: 1.2px solid rgba(0, 0, 0, 0.158);

    z-index: 1;

}
#parainput{
    width: 200px;

}

.inputstyle:hover+.p {
    background-color: blue;
    /* position: relative;
  animation-name: example;
  animation-duration: .5s; */
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 10px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.third_sectionGrid {
    display: flex;
    justify-content: space-around;
}

.secound_section {
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 255, 128);
}

.inputfield_third {
    position: relative;
    width: 100%;
    height: 100%;
    background: 0px 0px;
    border: none;
}

.xyz {
    cursor: pointer;
    border: 1px solid rgba(2, 0, 0, 0.37);
    padding: 0.5em;
    -webkit-appearance: none;
}

.xyz {
    border: 1px solid rgba(39, 9, 9, 0.26);
    padding: 0.5em;
    height: 15px;
    -webkit-appearance: none;
}

.xyz:checked {
    background: rgba(0, 0, 0, 0.527);
    background-size: 9px 9px;
}

.xyz:focus {
    outline-color: transparent;
}



.first_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part1 {
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.firstRow {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.secoundRow {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banerr {
    height: 500px;
    width: 100%;
    padding: 20px;
    /* position: relative; */
}

.subtitle {
    font-size: 10px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.piccontainersmall {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tital_body {
    height: 100%;
    width: 40%;
    background-color: aqua;
}

.filed_body {
    height: 100%;
    width: 40%;
    background-color: rgb(17, 0, 255);

}

.pic_body {
    height: 100%;
    width: 40%;
    background-color: rgb(255, 0, 13);

}

.title_wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title p {
    font-weight: 500;
    margin-top: -30px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.title p em {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}