.header_super {
    position: relative;
    height: 95vh;
    width: 100%;
}

.logo_header {
    height: 100%;
    width: 120px;
}

.logo_container_header {
    height: 70px;
    margin-left: -130px;
    width: 100%;
}

.nav {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* padding-left: 90px; */
    padding-top: 25px;
    z-index: 2;
    align-items: center;

}

.banner_header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.bar1 {
    height: 1px;
    width: 20px;
    background-color: black;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset .4s cubic-bezier(.7,0,.3,1),transform .4s cubic-bezier(.7,0,.3,1);

}

.bar2 {
    height: 1px;
    width: 15px;
    background-color: black;
    margin-top: 5px;

}

.bar3 {
    height: 1px;
    background-color: black;
    width: 20px;
    margin-top: 5px;

}

.menu_icon {
    width: 100%;
    padding-left: 50px;
}